<ng-container *ngIf="buttonConfig">
  <ng-container *ngTemplateOutlet="buttonConfig['hasIcon'] ? image : text">
  </ng-container>

  <!-- Text Classic Button -->
  <ng-template #text>
    <button type="button" [ngStyle]="buttonConfig.styles" (click)="onTextBtnClick($event)">
      {{title}}
    </button>
  </ng-template>

  <!-- Button with icon -->
  <ng-template #image>
    <span class="container" (click)="onImgBtnClick($event)">
      <span [ngStyle]="buttonConfig.iconStyles" class="material-icons">
        {{icon}}
      </span>
      <button type="button" [ngStyle]="buttonConfig.styles" (click)="onImgBtnClick($event)">
        {{title}}
      </button>
    </span>
  </ng-template>
</ng-container>
