<section class="users">
  <div class="filter">
    <lu-filter [numberOfUsers]="filteredUsers.length" (sortAllUsers)="sortAllUsers()"
      (selectAllUsers)="selectAllUsers($event)" (createNewUser)="createUser($event)" (filteredUser)="filterUsers($event)">
    </lu-filter>
  </div>
  <section class="user-data">
    <ng-container *ngFor="let user of filteredUsers; trackBy: trackByFn">
      <lu-user [user]="user"> </lu-user>
    </ng-container>
  </section>
  <section class="paginator">
    <lu-paginator></lu-paginator>
  </section>
</section>
