.users {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .user-data {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 2.4rem;
    width: inherit;
  }
  .filter {
    width: inherit;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: white;
  }
  .paginator {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;
  }
}
