.users {
  height: 100%;
  overflow: auto;
  .user-data {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 2.4rem;
    width: inherit;
  }
  .filter {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: white;
  }
  .paginator {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
  }
}
