<div id="pag-cover">
  <div id="pg-links">
    <div class="td arr-cover">
      <div class="arrow" (click)="onNavigateClick(-1)"><span class="material-icons">navigate_before</span></div>
    </div>
    <div class="td">
      <div id="links">
        <div class="pg-link" id="m-pg-link"><span>{{step}}</span></div>
      </div>
    </div>
    <div class="td arr-cover">
      <div class="arrow" (click)="onNavigateClick(+1)"><span class="material-icons">navigate_next</span></div>
    </div>
  </div>
</div>
