<nav class="main-menu">
  <ul>
    <li>
      <a href="http://justinfarrow.com">
        <span class="icon material-icons">
          subject
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="icon material-icons">
          speed
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="icon material-icons">
          layers
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <span class="icon material-icons">
          folder_open
        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          bookmarks
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          chat_bubble_outline
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          shopping_cart
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          person_outline
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          group
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          sync_alt
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          account_tree
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          account_balance
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          brightness_low
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          pie_chart
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon material-icons">
          engineering
        </span>
      </a>
    </li>
  </ul>
</nav>
