@import 'theme';

.dialog-container {
  h1.title {
    @include h1();
    text-align: center;
    text-transform: uppercase;
    color: rgba(var(--primary), 1);
  }
  .create-user-card {
    ::ng-deep {
      .mat-card-actions {
        display: flex;
        flex-direction: row;
        button {
          width: 100%;
          margin-top: 0.4rem;
          margin-bottom: 0.8rem;
          &.disabled {
            background-color: rgba(var(--background-side-nav), 0.6);
          }
        }
      }
      .create-user-form {
        .full-width {
          width: 100%;
        }
        mat-label {
          color: rgba(var(--primary), 1.0);
        }
        .mat-form-field-appearance-outline .mat-form-field-outline {
          color: rgba(var(--primary), 1.0);
        }
        .mat-select-placeholder {
          color: rgba(var(--primary), 1.0);
        }
      }
    }
  }
}
