.nav-user-info {
  margin-left: 6rem;
  .company {
    display: flex;
    .logo {
      width: 30px;
    }
    .title {
      padding-left: 0.8rem;
      font-size: 2.4rem;
      font-weight: 600;
      color: white;
      letter-spacing: 0.089rem;
    }
  }

  .user-toolbar-actions {
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: stretch;
    .icon {
      display: inherit;
      align-items: center;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      cursor: default;
    }
  }
  .user-avatar {
    height: 100%;
    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: block;
      float: right;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}
