.filter-by-something {
  display: grid;
  width: inherit;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  padding: 2.4rem 0.8rem;
  .select-all-users {
    display: flex;
    align-items: center;
    .user-count {
      padding-left: 0.8rem;
      .title,
      .number-of-users {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }

  .example-spacer {
    grid-column: 8 / 13;
  }

  .search-and-sort {
    display: flex;
    grid-column: 2 / 8;
    justify-content: space-around;
    .filter {
      display: flex;
      flex-basis: 30%;
      position: relative;
      .search {
        position: absolute;
        left: 0;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          top: 0.6rem;
          width: 1.2rem;
          height: 1.6rem;
          opacity: 0.6;
          margin-left: 0.2rem;
        }
      }
      input {
        width: 100%;
        background-color: transparent;
        border: 1.6px solid rgba(var(--border-color), 1);
        line-height: 1.4rem;
        padding-left: 2.8rem;
        transition: 0.3s;
        outline: 0;
        &::placeholder {
          padding-top: 0.6rem;
          opacity: 0.6;
        }
      }
    }

    .create-or-filter {
      display: flex;
      flex-basis: 70%;
      justify-content: space-evenly;
      button {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
      }
    }
  }
  .user-actions {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
  }
}
