<section class="filter-by-something">
  <!-- COLOR MAT INK BAR OF THE TABS-->

  <div class="select-all-users">
    <mat-checkbox (change)="onSelectAll($event)"> </mat-checkbox>
    <div class="user-count">
      <span class="number-of-users"> {{numberOfUsers}} </span>
      <span class="title"> Users </span>
    </div>
  </div>

  <div class="search-and-sort">

    <div class="filter">
      <div class="search">
        <span class="icon material-icons">
          search
        </span>
      </div>
      <input type="text" (input)="onInputChange($event.target.value)" class="filter-users" placeholder="Search..." />
    </div>

    <div class="create-or-filter">
      <lu-button [buttonConfig]="transparentBackgroundBtnConfig" [action]="'typeAllFilter'" [title]="'Type: All'"
        (buttonClicked)="onClickEventReceived($event)">
      </lu-button>
      <lu-button [buttonConfig]="transparentBackgroundBtnConfig" [action]="'sort'" [title]="'Sort A-Z'"
        (buttonClicked)="onClickEventReceived($event)">
      </lu-button>
      <lu-button [buttonConfig]="transparentBackgroundBtnConfig" [action]="'GroupAll'" [title]="'Group: All'"
        (buttonClicked)="onClickEventReceived($event)">
      </lu-button>
      <lu-button [buttonConfig]="noBorderBackgroundBtnConfig" [action]="'AddFilter'" [icon]="'add'" [title]="'Add Filter'"
        (buttonClicked)="onClickEventReceived($event)">
      </lu-button>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="user-actions">
    <lu-button [buttonConfig]="primaryImageBackgroundBtnConfig" [action]="'openCreateUserDialog'" [icon]="'add'"
      [title]="'Create'" (buttonClicked)="onClickEventReceived($event)">
    </lu-button>
    <lu-button [buttonConfig]="greyImageBackgroundBtnConfig" [action]="'openActionUserDialog'" [icon]="'more_vert'"
      [title]="'Actions'" (buttonClicked)="onClickEventReceived($event)">
    </lu-button>
  </div>

</section>
