:root {
  --primary: 51, 102, 255;
  --primary-text-color: 0, 0, 0;
  --background-side-nav: 33, 33, 33;
  --background-users: 51, 102, 255;
  --foreground: 242, 242, 242;
  --danger: 255, 102, 102;
  --border-radius: .4rem;
  --border-color: 163, 163, 194;
  --background-hover-color: 209, 206, 206;
}
