.home {
  margin-left: 6rem;
  min-height: 100vh;
  height: 100%;
  .container-tab {
    min-height: 100vh;
    height: 100%;
  }
  .container-tab ::ng-deep .mat-tab-group {
    background-color: rgba(var(--foreground), 1);
    .mat-tab-labels {
      .mat-tab-label-active {
        color: rgba(var(--primary), 1);
      }
    }
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-body-content {
      background-color: rgba(var(--primary), 0.7);
      border-bottom: none;
      overflow: hidden;
      min-height: 100vh;
    }
    .mat-ink-bar {
      background-color: rgba(var(--primary), 1);
    }
  }
}
